<?php
//the MD5 Hashed Passwords to login to webinterface
Configure::write('PASSWORDS', array(
	'<password1(hashed)>',
	'<password2(hashed)>'
));

//credentials to log into the raspberry clients via SSH
Configure::write('SSHCONF', array(
	'user' => 'username',
	'port' => '22',
	'password' => 'password',
	'keyfile' => APP . 'docs' . DS . 'key_rsa'
));

//API key for communication between clients and webinterface
Configure::write('API_KEY', 'password');

Configure::write('Record.server', 'http://<username>:<password>@<url>.com:<port>/livestreamrecord');
